body{
    width: 1397px;
    margin: 0 auto;
}

.header{
    background-color: #FFFFFF;
    height: 112px;
    font-family: Roboto-Light;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border: 1px solid #000000;
}

.header__button{
    width: 157px;
    height: 52px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header__button_filled{
    background-color: #FB4B4D;
    color: #FFFFFF;
}

.preview-block{
    background-color: #FFFFFF;
    display: flex;
    flex-direction: row;
    border-right: 1px solid #000000;
    border-left: 1px solid #000000;
    border-bottom: 1px solid #000000;

}

.preview-block__left-part{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    border-right: 1px solid #000000;
}

.preview-block__left-part-image-icon{
    border-bottom: 1px solid #000000;
    align-items: center;
    justify-content: center;
}

.preview-block__left-part-image-bottle-cup{
    margin: 20px;
    flex-grow: 1;
}

.preview-block__right-part{
    flex-grow: 1;
}

.preview-block__el-hot-sauce{
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-bottom: 1px solid #000000;
}

.preview-block__text-hot-sauce{
    font-family: Roboto-Regular;
    font-size: 58px;
    text-align: center;
    border-bottom: 1px solid #000000;
    padding: 10px;
}

.preview-block__right-part-image-bottle-hand{
    margin: 20px;
}

.lava-block{
    background-color: #FFFFFF;
    padding: 58px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    border-right: 1px solid #000000;
    border-left: 1px solid #000000;
    border-bottom: 1px solid #000000;
}

.lava-block__text{
    font-family: Roboto-Regular;
    font-size: 65px;
    text-align: center;
}


